# This is Git's per-user configuration file.
[user]
	email = fanahova@gmail.com
	name = Alessio Fanelli
[push]
	autoSetupRemote = true
[core]
	editor = cursor --wait
	pager = diff-so-fancy | less --tabs=4 -RF
[http]
	postBuffer = 157286400
[interactive]
	diffFilter = diff-so-fancy --patch
[pull]
	rebase = true
